.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 40px;
  border-bottom: 1px solid #eaeaea;
  .headerLeft {
    display: flex;
    align-items: center;
    img {
      margin-right: 16px;
    }
    .headerInfo {
      h3 {
        margin: 0;
        text-transform: uppercase;
      }
      p {
        margin: 0;
        opacity: 0.5;
      }
    }
  }
  .headerRight {
    display: flex;
    align-items: center;
    &__cart {
      display: flex;
      align-items: center;
      margin-right: 30px;
      cursor: pointer;
      img {
        margin-right: 10px;
      }
    }
    &__heart {
      cursor: pointer;
      padding-right: 30px;
    }
  }
}
